In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import missingno
from scipy import stats
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data_test.csv', sep=',')
data.head()

,Unnamed: 0,WELL,DEPTH_MD,X_LOC,Y_LOC,GROUP,FORMATION,CALI,RSHA,RMED,RDEP,RHOB,GR,NPHI,SP,ROP,DRHO,LITHOLOGY,CONFIDENCE
0,12269,15/9-13,2360.024,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,20.624592,0.297633,0.623069,0.793339,2.027478,39.730061,0.583409,75.965141,7.330753,0.050786,Sandstone,1.0
1,12270,15/9-13,2360.176,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,19.763544,0.269429,0.627331,0.776576,1.961962,43.091839,0.582297,76.094032,7.254298,0.049334,Sandstone,1.0
2,12271,15/9-13,2360.328,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,17.431980,0.289620,0.647835,0.751839,1.868283,43.753174,0.573836,76.680397,7.150103,0.033473,Sandstone,1.0
3,12272,15/9-13,2360.480,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,17.818096,0.326678,0.664831,0.712272,1.835587,42.127659,0.556636,77.512657,7.072389,0.016399,Sandstone,1.0
4,12273,15/9-13,2360.632,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,19.107430,0.352923,0.681010,0.686251,1.869930,38.995285,0.523758,78.468277,7.114806,0.012449,Sandstone,1.0

In [4]:
data['LITHOLOGY'].value_counts()

Shale              52915
Sandstone          13879
Limestone           7482
Sandstone/Shale     5629
Chalk               5123
Marl                3875
Tuff                1626
Coal                 408
Dolomite             298
Anhydrite            112
Name: LITHOLOGY, dtype: int64

In [4]:
#data = pd.read_csv('escenario_2.csv', sep=',')
#data.rename(columns={'FORCE_2020_LITHOFACIES_LITHOLOGY':'LITHOLOGY', 'FORCE_2020_LITHOFACIES_CONFIDENCE':'CONFIDENCE'},inplace=True)
#data['LITHOLOGY'] = data['LITHOLOGY'].map({30000:'Sandstone', 65030:'Sandstone/Shale', 65000:'Shale', 80000:'Marl', 74000:'Dolomite', 70000:'Limestone', 70032:'Chalk', 
#                                           88000:'Halite', 86000:'Anhydrite', 99000:'Tuff', 90000:'Coal'})
#data.dropna(inplace=True)
#data.head()

In [5]:
data1 = data[['WELL','GR']]

In [6]:
data1.head()

      WELL         GR
0  15/9-13  39.730061
1  15/9-13  43.091839
2  15/9-13  43.753174
3  15/9-13  42.127659
4  15/9-13  38.995285

In [7]:
WELLS = []
GRMIN = []
GRMAX = []
for i in data1['WELL']:
    data_well = data1.loc[data1['WELL'] == i]
    grmin = min(data_well['GR'])
    grmax = max(data_well['GR'])
    GRMIN.append(grmin)
    GRMAX.append(grmax)
print(i) 
data_well = data1.loc[data1['WELL'] == i]

7/1-1

In [8]:
data1['GRMIN'] = GRMIN
data1['GRMAX'] = GRMAX

C:\Users\Samuel Brand\AppData\Local\Temp\ipykernel_12040\1689155584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['GRMIN'] = GRMIN
C:\Users\Samuel Brand\AppData\Local\Temp\ipykernel_12040\1689155584.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['GRMAX'] = GRMAX

In [9]:
data1.head()

      WELL         GR     GRMIN       GRMAX
0  15/9-13  39.730061  6.651642  176.758652
1  15/9-13  43.091839  6.651642  176.758652
2  15/9-13  43.753174  6.651642  176.758652
3  15/9-13  42.127659  6.651642  176.758652
4  15/9-13  38.995285  6.651642  176.758652

In [10]:
data['IGR'] = (data1['GR']-data1['GRMIN'])/(data1['GRMAX']-data1['GRMIN'])
data['GRMIN'] = GRMIN
data['GRMAX'] = GRMAX

In [11]:
data.head()

,Unnamed: 0,WELL,DEPTH_MD,X_LOC,Y_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,GR,NPHI,SP,ROP,DRHO,LITHOLOGY,CONFIDENCE,IGR,GRMIN,GRMAX
0,12269,15/9-13,2360.024,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,20.624592,0.297633,0.623069,...,39.730061,0.583409,75.965141,7.330753,0.050786,Sandstone,1.0,0.194457,6.651642,176.758652
1,12270,15/9-13,2360.176,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,19.763544,0.269429,0.627331,...,43.091839,0.582297,76.094032,7.254298,0.049334,Sandstone,1.0,0.214219,6.651642,176.758652
2,12271,15/9-13,2360.328,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,17.431980,0.289620,0.647835,...,43.753174,0.573836,76.680397,7.150103,0.033473,Sandstone,1.0,0.218107,6.651642,176.758652
3,12272,15/9-13,2360.480,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,17.818096,0.326678,0.664831,...,42.127659,0.556636,77.512657,7.072389,0.016399,Sandstone,1.0,0.208551,6.651642,176.758652
4,12273,15/9-13,2360.632,437619.1875,6470981.5,ROGALAND GP.,Lista Fm.,19.107430,0.352923,0.681010,...,38.995285,0.523758,78.468277,7.114806,0.012449,Sandstone,1.0,0.190137,6.651642,176.758652

In [12]:
data.to_csv('data_test_igr.csv')